<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Paletizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Paletizer.Properties.Settings.DonKafa_ProizvodnjaConnectionString" connectionString="Data Source=10.0.0.20,1433;Network Library=DBMSSOCN;Initial Catalog=DonKafa_Proizvodnja;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--
    <add key="connectionString" value="Data Source=10.0.0.20,1433;Network Library=DBMSSOCN;Initial Catalog=DonKafa_Proizvodnja;User ID=sa;Password=123456" />
    -->
    <add key="connectionString" value="Data Source=DCSQLSERVER\SQLEXPRESS;Network Library=DBMSSOCN;Initial Catalog=DonKafa_Proizvodnja;User ID=sa;Password=sa" />
    <add key="MasinaPaletizacije" value="27" />
    <add key="smena" value="1" />
    <add key="broj_listova" value="1" />
    <add key="proizvodnja" value="false" />
    <add key="exchange_path" value="//10.0.0.20/backup/probat.csv" />
    <add key="probat_test" value="true" />
    <add key="probat_pass" value="6W6U" />
    <add key="filter_sifara" value="PC;RI;PQ;EC;EA;TE;S" />
    <add key="barcode_prefixxxx" value="D" />
    <add key="filter_sifaraaa" value="SFO" />
    <add key="barcode_prefixxxx" value="S" />
    <add key="barcode_extended" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <Paletizer.Properties.Settings>
      <setting name="Paletizer_rs_esteh_EstorageWebServiceBeanService" serializeAs="String">
        <value>http://localhost:8080/estorage-estorage/EstorageWebServiceBean</value>
      </setting>
    </Paletizer.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>